@tailwind base;
@tailwind components;
@tailwind utilities;

/* global viewport wrapper reset */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  @apply bg-brand-slate text-slate-900 dark:bg-brand-black dark:text-white;
}
